################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/*.exe
/plugins
/node.dll
/bt.dat
/bin/*
/.vs/*
/dotnet/resources/WiredPlayers/obj
/dotnet/resources/WiredPlayers/bin
/dotnet/resources/WiredPlayers/.vs
/dotnet/server_logs.txt
/dotnet/runtime/*
/dotnet/acl.xml
/dotnet/*.txt
/client_packages/*
/client_packages/cs_packages/WiredPlayers-Client/.vs
/client_packages/cs_packages/WiredPlayers-Client/bin
/client_packages/cs_packages/WiredPlayers-Client/obj
/client_packages_fastdl/*
!/client_packages/index.js
!/client_packages/statics
!/client_packages/cs_packages
!/client_packages/WiredPlayers
!/dotnet/runtime/BouncyCastle.Crypto.dll
!/dotnet/runtime/MySql.Data.dll
!/dotnet/runtime/Renci.SshNet.dll
!/dotnet/runtime/Newtonsoft.Json.dll
!/dotnet/runtime/System.Configuration.ConfigurationManager.dll
!/dotnet/runtime/System.Security.Permissions.dll
!/dotnet/runtime/System.Management.dll
!/dotnet/runtime/System.Security.Permissions.dll
!/dotnet/runtime/System.Configuration.ConfigurationManager.dll
